@import 'styles.css';
@import 'header.css';
@import 'index--section-1.css';
@import 'index--section-2.css';
@import 'index--bubble.css';
@import 'index--section-3.css';

footer {
    width: 80%;
	margin: auto;
	padding-bottom: 80%;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	border-radius: 50%;
    z-index: 2;
    background-color: var(--aside-color);
    transition: background-color 300ms ease-in-out;
}

footer.scroll {
	display: flex;
	animation: footer-scroll 300ms ease forwards;
}

@keyframes footer-scroll {

	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-152px);
	}

	75% {
		transform: translateY(-152px) scale(1.01);
	}

	100% {
		transform: translateY(-152px) scale(1);
	}

}

footer.unscroll {
	display: block;
	animation: footer-unscroll 300ms ease forwards;
}

@keyframes footer-unscroll {

	0% {
		transform: translateY(-152px);
	}

	100% {
		transform: translateY(0);
	}

}

footer a, footer p {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
}

footer a {
	width: 56px;
	height: 56px;
	top: 30px;
	background-color: transparent !important;
}

footer a:first-of-type {
	right: 56px;
}

footer a:last-of-type {
	left: 56px;
}

footer a:hover:before {
	width: 56px;
	height: 56px;
}

footer a:hover i {
	color: var(--aside-color);
}

footer p {
	top: 104px;
	color: white;
}

@media (max-width: 768px) {
	
	footer {
		width: 100%;
		height: 128px;
		padding-bottom: 0;
		display: block;
		border-radius: 0;
	}

	footer a {
		top: 16px;
	}

	footer p {
		top: 88px;
		font-size: 20px;
	}
	
}