@import url("/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css");

@font-face {
    font-family: 'caroni_regular';
    src: url("/assets/fonts/Caroni-Regular.woff");
}

:root {
	--color-cloudburst: #5C9598;
	--color-tidewater: #C4D7D1;
	--color-jovial: #F5D1C3;
	--title-font: 'caroni_regular';
	--text-font: 'Georgia', serif;
	--font-color: #5A5A5A;
}

[data-theme="light"] {
	--body-color: #F3EAD7;
	--section-color: #E1EDEF;
	--aside-color: var(--color-cloudburst);
	--header-font-color: #282828;
	--main-font-color: #5A5A5A;
	--focus-visible-color: black;
}

[data-theme="dark"] {
	--body-color: #323232;
	--section-color: #3A4B52;
	--aside-color: #345D60;
	--header-font-color: #C8C8C8;
	--main-font-color: #C8C8C8;
	--focus-visible-color: white;
}

:lang(hr) {
	--CTA-read: 'Pričaj mi';
	--CTA-login: 'Prijavi se';
}

:lang(en) {
	--CTA-read: 'Tell me';
	--CTA-login: 'Log in';
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: var(--text-font);
	background-color: var(--body-color);
	transition: background-color 300ms ease-in-out;
}

body.expand {
	overflow: hidden;
}

*:not(.header--links, header aside div) {
	scrollbar-width: none;
}

*::-webkit-scrollbar:not(.header--links, header aside div) {
    display: none;
}

*:focus-visible {
	outline: 2px solid var(--focus-visible-color);
	outline-offset: 2px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
	font-weight: inherit;
}

h1 {
	font-family: var(--title-font);
	color: var(--color-cloudburst);
}

a, a:visited, p {
	text-decoration: none;
	transition: color 300ms ease-in-out;
}

a:hover {
	cursor: pointer;
}

a.anchor-social {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--body-color);
	font-size: 32px;
	transition: filter 400ms ease-in-out, background-color 300ms ease-in-out;
}

a.anchor-social:hover {
	filter: brightness(0.999);
}

a.anchor-social:before {
	background-color: white !important;
}

a.anchor-social i {
	z-index: 1;
	color: white;
	transition: color 400ms ease-in-out;
}

p {
	color: var(--main-font-color);
}

img {
	user-select: none;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: transparent;
}

.button-pill {
	position: relative;
	border-radius: 24px;
	overflow: hidden;
	background-color: var(--color-tidewater);
	font-family: var(--text-font);
	font-size: 20px;
	font-weight: bold;
	color: var(--font-color);
}

button:hover, .button-pill:hover {
	cursor: pointer;
}

a.anchor-social:before,
button.button-pill:before,
button.button-pill i {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	border-radius: 50%;
	z-index: 0;
	background-color: var(--color-jovial);
	transition: width 400ms ease-in-out, height 400ms ease-in-out;
}

button.button-pill:after {
	z-index: 1;
	transition: color 200ms ease-in-out;
}

button.button-pill:active:after,
button.button-pill.active:after {
	color: white;
}

button.button-pill i {
	transition: width 200ms ease-in-out, height 200ms ease-in-out;
}

button.button-pill:active i,
button.button-pill i.active {
	background-color: var(--color-cloudburst);
}

input[type="text"], input[type="password"] {
	padding: 0 16px;
	border-radius: 48px;
    border: none;
	font-family: var(--title-font);
}

main {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 80px;
	background-color: var(--body-color);
	transition: background-color 300ms ease-in-out;
}

section {
	min-height: calc(100vh - 160px);
	padding-top: 80px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

footer {
	text-align: center;
	font-family: 'caroni_regular';
	font-size: 24px;
	color: var(--main-font-color);
}

@media (max-width: 900px) {

	main {
		pointer-events: all;
		transition: margin 500ms ease-in-out, background-color 300ms ease-in-out;
	}

	main.expand {
		pointer-events: none;
		margin-top: 352px;
	}

}