<section>

    <div class="section-2--circle">

        <div class=".section-2--circle--text">

            <h2>{title}</h2>

            <p>{text}</p>

            <a href="{href}" tabindex="-1"><button></button></a>

        </div>

        <img src="{imageSrc}" alt="{altText}">

    </div>

    <div class="section-2--circle">

        <div class=".section-2--circle--text">

            <h2>{title}</h2>

            <p>{text}</p>

            <a href="{href}" tabindex="-1"><button></button></a>

        </div>

        <img src="{imageSrc}" alt="{altText}">

    </div>

    <div class="section-2--circle">

        <div class=".section-2--circle--text">

            <h2>{title}</h2>

            <p>{text}</p>

            <a href="{href}" tabindex="-1"><button></button></a>

        </div>

        <img src="{imageSrc}" alt="{altText}">

    </div>

</section>