<header>

    <div class="header--logo">
			
        <button>
        
            <img src="/assets/images/priculjica-logo.png" alt="">
            
        </button>
        
    </div>

    <div class="header--links">

        <a href="{href}"><div class="header--links--dot"></div>{anchor}</a>

        <a href="{href}"><div class="header--links--dot"></div>{anchor}</a>
        
        <a href="{href}"><div class="header--links--dot"></div>{anchor}</a>

        <a href="{href}"><div class="header--links--dot"></div>{anchor}</a>

        <button class="header--button-aside-toggle">

            <i class="fa fa-cog"></i>

            <i class="fa fa-close"></i>

        </button>

    </div>

    <aside>

        <div>

            <select name="language" class="button-pill">

                <option value="hr">Hrvatski</option>

                <option value="en">Engleski</option>

            </select>

            <input type="checkbox" name="theme">

            {logout}

        </div>

    </aside>

</header>