<div class="toolbar-height"></div>

    <button class="toolbar-toggle-button"></button>
        
    <aside class="toolbar">

        <div class="toolbar-buttons-container">
                        
            <button class="toolbar-pdf"><i class="fa fa-file-pdf-o"></i></button>

            <button class="toolbar-stats"><i class="fa fa-pie-chart"></i></button>

            <button class="toolbar-stats"><i class="fa fa-sort-alpha-asc"></i></button>

        </div>
                        
    </aside>

    <aside class="toolbar-controls-container"></aside>

</div>