.admin_info_height {
    height: 50%;
    position: absolute;
}

.admin_info {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    z-index: 998;
    overflow: hidden;
    background-color: #5C9598;
    transition: height 300ms ease-in-out;
}

.admin_info.expand {
    height: 50%;
    overflow: scroll;
}

.admin_info_data_container {
    width: 75%;
    height: 80%;
    margin: auto;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: inset(50% 50% 50% 50% round 75px);
    z-index: 999;
    background-color: #5C9598;
    transition: clip-path 300ms ease-in-out;
}

.admin_info_data_container.active {
    clip-path: inset(0 0 0 0 round 75px);
}

.admin_info_data_table {
    width: 87.5%;
    height: 80%;
    position: relative;
    font-family: 'caroni_regular';
    font-size: 20px;
    color: white;
    overflow: auto;
}

.admin_info_data_table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.admin_info_data_table::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: white;
}

.admin_info_data_table::-webkit-scrollbar-corner {
    background-color: transparent;
}

.admin_info_data_table table {
    width: 95%;
    min-width: 1000px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-spacing: 3px;
    text-align: center;
}

.admin_info_data_table table th:first-child {
    border-top-left-radius: 25px;
}

.admin_info_data_table table th:last-child {
    border-top-right-radius: 25px;
}

.admin_info_data_table table th, td {
    padding: 10px;
}

.admin_info_data_table table tr:nth-child(odd) {
    background-color: rgb(255, 255, 255, 0.25);
}

.admin_info_data_table table tr:first-child {
    background-color: white;
    color: #5C9598;
}

.admin_info_data_table table tr:last-child td:first-child {
    border-bottom-left-radius: 25px;
}

.admin_info_data_table table tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
}

.admin_info_buttons_container {
    position: absolute;
    bottom: 60px;
    overflow-y: scroll;
}

.admin_info button, .admin_info_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5C9598;
    font-size: 20px;
    color: white;
    transition: font-size 100ms ease-in-out;
}

.admin_info button {
    position: relative;
    top: 2.5px;
}

.admin_info button:hover {
    font-size: 25px;
}

.admin_info_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
    font-size: 25px;
}

.admin_info_button:hover {
    font-size: 30px;
}

.admin_info_button.expand {
    font-size: 30px;
    color: #F5D1C3;
}

@-moz-document url-prefix() {

    .admin_info_button:after {
        position: relative;
        bottom: 3px;
    }

}