.admin_controls_height {
    height: 50%;
    position: absolute;
}

.admin_controls {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    z-index: 998;
    overflow: hidden;
    background-color: #5C9598;
    transition: height 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.admin_controls.expand {
    height: 50%;
    overflow: scroll;
}

.admin_controls.expanded {
    box-shadow: -8px -1px 16px -10px rgba(0,0,0,0.6);
}

.admin_controls_controls_container {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 32.5px;
    z-index: 997;
    overflow: hidden;
    background-color: #5C9598;
    transition: width 300ms ease-in-out;
}

.admin_controls_controls_container.expand {
    width: 350px;
    height: 50%;
    overflow: scroll;
}

.admin_controls_controls_container button {
    background-color: white;
}

.admin_controls_image, .admin_controls_audio {
    width: 290px;
    padding: 30px 0;
    position: absolute;
    right: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

input[type="file"] {
    display: none;
}

.admin_controls_input_label {
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 15px solid #C4D8D4;
    background-color: #C4D8D4;
    background-size: contain;
}

.admin_controls_input_label i {
    font-size: 30px;
    color: white;
}

.admin_controls_input_label:hover {
    cursor: pointer;
}

.admin_controls_image input {
    width: 200px;
    height: 35px;
	padding: 0 10px;
	border-radius: 50px;
    border: none;
    background-color: #F5D1C3;
}

.admin_controls_insert {
    width: 150px;
	height: 40px;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
	background-color: #C4D8D4 !important;
    font-family: 'Georgia', serif;
	font-size: 15px;
	font-weight: bold;
	color: rgba(90,90,90,1.00) !important;
}

.admin_controls_insert:before {
	content: '';
	width: 0px;
	height: 0px;
    margin: auto;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	border-radius: 50%;
	background-color: #F5D1C3;
	z-index: 0;
	transition: width 400ms ease-in-out, height 400ms ease-in-out;
}

.admin_controls_insert:after {
	content: 'Umetni';
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
	z-index: 1;
    transform: translateY(-50%);
}

.admin_controls_insert:hover:before {
	width: 150px;
	height: 150px;
}

.admin_controls_audio p {
    height: 0;
    text-align: center;
    font-family: 'caroni_regular';
    font-size: 25px;
    color: white;
}

.admin_controls_audio_insert_audio {
    margin-top: 95px;
}

.admin_controls_buttons_container {
    position: absolute;
    bottom: 60px;
    overflow-y: scroll;
}

.admin_controls button, .admin_controls_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5C9598;
    font-size: 20px;
    color: white;
    transition: font-size 100ms ease-in-out;
}

.admin_controls button {
    position: relative;
    top: 2.5px;
}

.admin_controls button:hover {
    font-size: 25px;
}

.admin_controls button.active {
    color: #F5D1C3;
    font-size: 25px;
}

.admin_controls input {
    width: 50px;
    height: 30px;
    position: relative;
    left: 3px;
    border: none;
    background-color: transparent;
    font-family: 'Georgia', serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

input[type=number] {
    appearance: textfield;
      -moz-appearance: textfield;
}

.admin_controls input:focus {
    border: none;
    outline: none;
}

.admin_controls_button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
    font-size: 30px;
    transition: transform 500ms ease-in-out, font-size 100ms ease-in-out;
}

.admin_controls_button:hover {
    font-size: 40px;    
}

.admin_controls_button.expand {
    transform: rotate(180deg);
}

.admin_controls_button:after {
    content: '+';
}

@-moz-document url-prefix() {

    .admin_controls_button:after {
        position: relative;
        bottom: 3px;
    }

}

h1:focus, .section_paragraph:focus {
    border: none;
    outline: none;
}

h1:empty:before {
    content: attr(data-placeholder-title);
    color: #BABABA;
    cursor: text;
}

.section_paragraph:empty:before {
    content: attr(data-placeholder-paragraph);
    color: #BABABA;
    cursor: text;
}